<li>
  <div class="test">
    <span class="user-name"><%= comment.user.name %></span>
    <br/>
    <p><%= comment.comment %></p>
    <span class="timestamp"><%= t "posted" %>
      <%= time_ago_in_words(comment.created_at) %><%= t"ago" %></span>

    <% if user_signed_in? %>
      <% if can? :destroy, comment %>
        <%= link_to t("delete"), book_comment_path(comment.book, comment),
          method: :delete, data: {confirm: t("are_you_sure")} %>
      <% end %>
    <% end %>
  </div>
</li>
