<% @answers.each do |answer| %>
  <% if answer.review1_id == @review1.id%>
    <li>
      <div class="test">
        <span class="user-name"><%= @review1.user.name %></span>
        <br/>
        <div id="edit-answer-form-<%= answer.id %>"><%= answer.content %></div>

        <span class="timestamp"><%= t "posted" %>
          <%= time_ago_in_words(answer.created_at) %><%= t"ago" %></span>

        <% if user_signed_in? %>
          <% if can? :destroy, answer %>
            <%= link_to t("edit"),
              edit_book_review1_answer_path(@review1.book, @review1, answer), remote: true %>
            <%= link_to t("delete"), book_review1_answer_path(@review1.book, @review1, answer),
              method: :delete, data: {confirm: t("are_you_sure")} %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
<% end %>
