<tr>
  <td><span class="bold"><%= order.id %></span></td>
  <td><span class="bold"><%= number_to_currency(order.cost, unit: "") %>
    <%= t"vnd" %></span></td>
  <td class="icon"><%= link_to image_tag("show.jpg"), order_path(order) %></td>
  <td class="icon">
    <% if order.is_processed %>
      <%= t "is_processed" %>
    <% else %>
      <%= t "not_processed" %>
      <%= link_to image_tag("delete.jpg"), order, method: :delete,
        data: {confirm: t("are_you_sure")} %>
    <% end %>
  </td>
</tr>
