<% provide :title, t("all_yours_orders") %>
<h1><%= t "all_yours_orders" %></h1>
<%= render "shared/flash" %>

<div class="list-categories">
  <% if @orders.blank? %>
  <center class="no-item"><%= t "no_have_order_currently" %></center>
  <% else %>
    <div>
      <%= paginate @orders, theme: "twitter-bootstrap-3" %>

      <table>
        <tr>
          <th><%= t "code_order" %></th>
          <th><%= t "order_admin.cost" %></th>
          <th><%= t "show" %></th>
          <th><%= t "status" %></th>
        </tr>
        <%= render @orders %>
      </table>
    </div>
  <% end %>
</div>

