<div class="col-md-4">
  <div class="book-adder">
    <%= link_to book_path(book), class: "dropdown-toggle" do %>
      <span class="book-size-index"><%= image_tag book.book_img.url(:book_index) %></span>
    <% end %>
    <h3><%= book.title %></h3>
    <h5><%= book.author %></h5>
    <h4><%= number_to_currency(book.unit_price, unit: "") %><%= t "vnd" %></h4>
    <span class="average-review-rating" data-score=<%=
      book.review1s.average(:rating1) %>></span>
    <%= t "(" %><%= book.review1s.count %><%= t "num_viewpoints" %><br/>
    <%= button_to t("add_to_cart"), order_details_path(number: Settings.default_number,
      book_id: book.id), class: "add-cart-home" %>
  </div>
</div>
