<% provide :title, t("details_book") %>

<div class="info-book">
  <div class="row">
    <div class="col-sm-3">
      <%= social_share_button_tag(@book.title, :url => "https://brs42.herokuapp.com") %>
      <span class="book-size-show"><%= image_tag @book.book_img.url(:book_show) %></span>
    </div>
    <div class="col-md-6">
      <span class="tit"><%= @book.title %></span>
      <br/>
      <span class="author"><%= t "author" %><span class="na-aut">
        <%= @book.author %></span></span>
      <br/>
      <span class="price"><%= t "cover_price" %><span class="num-price">
        <%= display_total_price @book.unit_price %></span></span>
      <br/><br/>
      <%= t "number" %>
      <%= render "order_details/form", book: @book %>
    </div>
    <div class="col-md-3">
      <span class="average"><%= t "average_rating" %></span>
      <br/>
      <span class="average-review-rating" data-score=<%= @average_review1 %>></span>
      <br/><br/>
      <span><%= t "base_on" %><%= @book.review1s.size %><%= t "num_viewpoints" %></span>
    </div>
  </div>

  <div class="row">
    <div class="introduce">
      <h4><%= t "introduce_the_book" %></h4>
      <p><%= @book.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="revie">
      <h4><%= t "point_of_view" %></h4>
      <div>
        <button class="post-comment"><%= t "post_your_comment" %></button>
        <div class="revie-form"><%= render "review1s/form" %></div>
      </div>
      <div>
        <div class="list-reviews">
          <ul>
          <%= render @review1s %>
          </ul>
        </div>

        <div class="pag-comment"><%= paginate @review1s, theme: "twitter-bootstrap-3" %></div>
      </div>
    </div>
  </div>

  <span class="baka"><%= link_to t("back"), books_path %></span>
</div>

<%= javascript_include_tag "reviews" %>
