<center class="book-home">
  <h2><%= t "start_manage" %></h2>
  <div class="choose">
    <%= link_to t("categories"), admin_categories_path, id: "topi" %>
    <%= link_to t("books"), admin_books_path, id: "topi" %>
    <%= link_to t("reviews"), "#", id: "topi" %>
    <%= link_to t("orders"), "#", id: "topi" %>
  </div>
</center>
